@CHARSET "UTF-8";

h5 {
	height: 30px;
	width: 95%;
	margin: auto;
	text-align: right;
}

.even-row {
	background-color: #FCFFFE;
}

.odd-row {
	background-color: #ECF3FE;
}

.active-row {
	background-color: #FFEBDA !important;
	cursor: pointer;
}

#wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

#header {
	height: 50px;
	margin: auto;
	text-align: center;
}

#content {
	height: 95%;
	width: 95%;
	margin: auto;
}

#table {
	height: 100%;
	width: 100%;
	margin: auto;
}

#button {
	font-size: 14px;
}

/*************************************************
rich:dataScroller
*************************************************/
#pagination-center {
	text-align: center;
	margin: auto;
	display: block;
}