@CHARSET "UTF-8";

.even-row {
	background-color: #FCFFFE;
}

.odd-row {
	background-color: #ECF3FE;
}

.left-column {
	text-align: left;
	font-size: 80%;
}

.center-column {
	text-align: center;
	font-size: 80%;
}

.active-row {
	background-color: #FFEBDA !important;
	cursor: pointer;
}

#wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

#header {
	height: 50px;
	margin: auto;
	text-align: center;
}

#content {
	height: 95%;
	width: 95%;
	margin: auto;
}

#table {
	height: 100%;
	width: 100%;
	margin: auto;
}

.green {
	color: #3F7F5F;
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
}

.red {
	color: #FF0000;
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
}

.each-column-header {
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
}

.pullcol {
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	width: 5%;
}

.upstreamscol {
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	width: 8%;
}

.issuescol {
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	width: 12%;
}

.statuscol {
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	width: 8%;
}

.flagscol {
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	width: 15%;
}

.summarycol {
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	width: 25%;
}

.mergeablecol {
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	width: 5%;
}

.reviewedcol {
	font-size: 90%;
	font-family: "Arial Black", Gadget, sans-serif;
	width: 6%;
}

.larger {
	font-size: larger;
	font-family: "Arial Black", Gadget, sans-serif;
}