# Github account
github.organization=jbossas
github.repo=jboss-eap

# JIRA account
jira.login=...
jira.password=...

# Github Authentication Info
github.login=...
github.token=...

# Bugzilla required properties
bugzilla.login=...
bugzilla.password=...

# Jenkins server required properties
jenkins.host=thunder.sin.redhat.com
jenkins.uri=/hudson
jenkins.port=8380
#jenkins.job.token=<secret>
jenkins.publish.url=http://thunder.sin.redhat.com:8380/hudson/job

# EAP version specific properties

versions=eap613 eap624 eap634 eap640 eap648

eap613.evaluator=org.jboss.pull.shared.evaluators.ParentBugBasedPullEvaluator
eap613.github.branch=6.1.x
eap613.github.organization.upstream=jbossas
eap613.github.repo.upstream=jboss-eap
eap613.github.branch.upstream=6.x
eap613.parent.bug=1160449
eap613.issue.fix.version=EAP 6.1.3

eap624.evaluator=org.jboss.pull.shared.evaluators.ParentBugBasedPullEvaluator
eap624.github.branch=6.2.x
eap624.github.organization.upstream=jbossas
eap624.github.repo.upstream=jboss-eap
eap624.github.branch.upstream=6.x
eap624.parent.bug=1067534
eap624.issue.fix.version=EAP 6.2.4

eap634.evaluator=org.jboss.pull.shared.evaluators.BugFlagBasedPullEvaluator
eap634.github.branch=6.3.x
eap634.github.organization.upstream=wildfly
eap634.github.repo.upstream=wildfly
eap634.github.branch.upstream=master
eap634.required.flags=jboss-eap-6.3.z
eap634.issue.fix.version=EAP 6.3.4

eap640.evaluator=org.jboss.pull.shared.evaluators.BugFlagBasedPullEvaluator
eap640.github.branch=6.x
eap640.github.organization.upstream=wildfly
eap640.github.repo.upstream=wildfly
eap640.github.branch.upstream=master
eap640.required.flags=jboss-eap-6.4.z
eap640.issue.fix.version=EAP 6.4.0

eap648.evaluator=org.jboss.pull.shared.evaluators.BugFlagBasedPullEvaluator
eap648.github.branch=6.4.x
eap648.github.organization.upstream=wildfly
eap648.github.repo.upstream=wildfly
eap648.github.branch.upstream=master
eap648.required.flags=jboss-eap-6.4.z
eap648.issue.fix.version=EAP 6.4.8

# Processor properties
admin.list.file=...
eap62x.jenkins.job=pull-request-merger-6.2.x
eap63x.jenkins.job=pull-request-merger-6.3.x

jira.base.url=https://issues.jboss.org

