.streams {
     padding: 5px;
     width: 280px;
}

tr.odd,
tr.odd > th,
tr.odd > td {
    background-color: #f9f9f9;
}

tr.open + tr > td  {
    background-color: #efefef;
}

th.switch, td.switch {
    cursor: pointer;
}

th.switch span::before,
.has-data td.switch span::before {
    content: "+";
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    vertical-align: text-bottom;
}

th.open.switch span::before,
.has-data.open td.switch span::before {
    content: "\2212";
}

.exp.inner-div {
    display: inline-block;
    width: 48%;
}

.issues-table .first-column {
    width: 120px;
}

.issues-table .second-column {
    width: 90px;
}
.issues-table .third-column {
    width: 60px;
}

.failed-to-load td {
    background: #f63;
}

/* override datatables.net styling */
table.dataTable thead th {
    padding: 10px;
}
